---
apiVersion: v1
kind: Pod
metadata:
  name: postgres
spec:
  containers:
  - name: postgres
    image: docker.io/library/postgres:18
    env:
    - name: POSTGRES_USERNAME
      value: postgres
    - name: POSTGRES_PASSWORD
      value: pgpass
    ports:
    - containerPort: 5432
      hostPort: 5432
---
