@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 15px;
}

pre,
pre code {
  font-family: inherit;
}

.logo-mark {
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.logo-mark sub {
  font-size: 16px;
}
